<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I work as Lecturer in Department of Electrical Engineering Politeknik Negeri Batam. Not only teach students, I also doing research in my university. Now, I am a member of Barelang Robotics Laboratory, that is doing research in robotics. My research topics are computer vision and artificial intelligence. I also work as freelance automation programmer to support local companies in Batam</p>
</div><!--//summary-->
</section><!--//section-->
