<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>A Bachelor of Applied Science from Bandung Institute of Technology with five years of research experience in robotics and professional expertise in industrial factory automation. Currently working as an assistant lecturer in Politeknik Negeri Batam. Have several research publications and also professional certification from Indonesia National Professional Certification Board and National Instruments. Excellent leadership and team-work proved by honor and awards.</p>
</div><!--//summary-->
</section><!--//section-->
