<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Training and Certification</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">NI Computer Vision Training</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">National Instruments, Indonesia</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SCADA Vijeo Citect Training</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Schneider Electric, Indonesia</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certified Assessor BNSP</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Badan Nasional Sertifikasi Profesi, Indonesia</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certified LabVIEW Associate Developer (CLAD)</h3>
                            <div class="time">2017 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">National Instruments</div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->
