<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lecturer Assistant</h3>
                            <div class="time">August, 2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Politeknik Negeri Batam, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching students during a laboratory experiment. Course: Microcontroller Programming, Programmable Logic Controller, and Pneumatics.</p>                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Automation Programmer</h3>
                            <div class="time">February, 2015 - December, 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Jovan Technologies, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">                        
                        <p>Designing and installing an electrical control panel for an automatic assembly and tester machine.</p>
                        <p>Developing software based on PLC, HMI, and PC based controller.</p>                    
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Automation Programmer</h3>
                            <div class="time">August, 2015 - February, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Tugu Sena Sinergi, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">                        
                        <p>Developing a LabVIEW based software to test the quality of tower lamp product and save a report to the database.</p>                    
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Team Leader Barelang FC Robotics Team</h3>
                            <div class="time">November, 2013 - August, 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Politeknik Negeri Batam, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">                        
                        <p>Managing team member of Barelang FC Robotics team.</p>  
                        <p>Developing a humanoid robot that participates in national and international RoboCup competition.</p>                   
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
