<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lecturer Assistant</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Politeknik Negeri Batam, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        !-- Comment sek
                        <p>Teaching students during a laboratory experiment. Course: Microcontroller Programming, Programmable Logic Controller, and Pneumatics.</p>
                        --
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Automation Programmer</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Jovan Technologies, Batam, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        !-- Comment sek
                        <p>Designing and installing an electrical control panel for an automatic assembly and tester machine.</p>
                        <p>Developing software based on PLC, HMI, and PC based controller.</p>
                        --
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
