<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a>The 1st Winner of Regional Fire Fighting Robotics Competition 2010 | Pangkal Pinang, Indonesia | July, 2010</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Hydrolic Machine Controller - 2017</a></span> -
                    <span class="project-tagline">A device that used to control sequence of hydrolic system. This device replace old controller that still used relay logic control. It's used by PT Pratama Widya Batam - Indonesia.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Ferrite Auto Assembly and Tester Machine - 2016</a></span> -
                    <span class="project-tagline">An automation machine that used to assembly product and test quality of product. It was used by PT Scheneider Electric Indonesia to replace old machine with low productivity.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Electric Toothbrush Auto Assembly Machine - 2015</a></span> -
                    <span class="project-tagline">An automation machine that used to assembly part of electric toothbrosh automatically. It was used by PT AMTEK Engineering Indonesia to replace old manual assembly method. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Continuity Tester - 2015</a></span> -
                    <span class="project-tagline">A device that used to check continuity of product automatically. It's was used by PT Epcos TDK Indonesia to support it's production line. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">PCM Assembly and Oiling Machine - 2014 </a></span> -
                    <span class="project-tagline">An automation machine that required by PT Scheneider Electric Indonesia to increase productivity of it's production line. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Humanoid Robot Soccer Barelang 4.1 - 2011</a></span> -
                    <span class="project-tagline">A robot that participate in Indonesia Robot Contest 2011 Robot Soccer Category. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Intelligent Fire-fighting Legged Robot Barelang II - 2010</a></span> -
                    <span class="project-tagline">A robot that participate in Indonesian Robot Contest 2010 Fire-fighting Robot Category.</span>
                </div><!--//item-->
            </section><!--//section-->
