<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Honor, Fellowships, And Awards </h2>
                <div class="item">
                    <span class="project-title"><a>The 1st Winner of Regional Fire Fighting Robotics Competition 2010 | Pangkal Pinang, Indonesia | July, 2010.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>Finalist National Appropriate Technology Competition 2010 | Yogyakarta, Indonesia | August, 2010.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>The 2nd Winner of Indonesia RoboCup Competition 2011 | Yogyakarta, Indonesia | July, 2011.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>The 2nd Runner Up of International ABU Asia Pacific Robot Contest 2011 | Bangkok, Thailand | August, 2011.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>The 1st Winner of Indonesia RoboCup Competition 2016 | Surabaya, Indonesia | June, 2016.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>The 1st Winner of Indonesia RoboCup competition 2017 | Bandung, Indonesia | July, 2017.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>Semifinalist RoboCup 2017 | Nagoya, Japan | July, 2017.</a></span>
                </div><!--//item-->
            </section><!--//section-->
