<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Opensource Contribution</h2>
                <div class="item">
                    <span class="project-title"><a href="https://github.com/ekorudiawan/BarelangFC-Particle-Filter-Sim">BarelangFC Particle Filter Simulator</a></span> -
                    <span class="project-tagline">a simulation software to simulate particle filter localization algorithm in RoboCup humanoid competition</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/ekorudiawan/BarelangFC-Vision">BarelangFC Vision</a></span> -
                    <span class="project-tagline">a computer vision software for RoboCup humanoid to recognize objects based on color and properties classification.</span>
                </div><!--//item-->                
            </section><!--//section-->
