<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Industrial Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">PCM Assembly and Oiling Machine | PT Schneider Electric, Batam, Indonesia. 2014</a></span> -
                    <span class="project-tagline">an automation machine that used to assembly and oiling product automatically.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Continuity Tester | PT Epcos TDK, Batam, Indonesia. 2015</a></span> -
                    <span class="project-tagline">an AVR microcontroller based device that used to check continuity of connector product automatically.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Electric Toothbrush Auto Assembly Machine | PT AMTEK Engineering, Batam, Indonesia. 2015</a></span> -
                    <span class="project-tagline">an automation machine that used to assembly part of an electric toothbrush automatically.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Ferrite Auto Assembly and Tester Machine | PT Schneider Electric, Batam, Indonesia. 2016</a></span> -
                    <span class="project-tagline">an automation machine that used to assembly and test quality of contactor product automatically.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hydraulic Machine Controller | PT Pratama Widya, Batam, Indonesia. 2017</a></span> -
                    <span class="project-tagline">a PLC-based controller that used to control sequence of the hydraulic system.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Oxygen Analyzer | PT. Feen Marine, Batam, Indonesia. 2017</a></span> -
                    <span class="project-tagline">an embedded device that used to analyze and control oxygen level in the marine industry.</span>
                </div><!--//item-->
            </section><!--//section-->
