<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Risandriya, Sumantri Kurniawan, Eko Rudiawan, and Wahyu Wibowo. "Plant Integrity Monitoring Menggunakan Ultrasonic Dengan Metode Fuzzy Decision Support Berbasis Wireless." Jurnal Integrasi 7.1 (2015): 1-11.</a></span>
                </div><!--//item-->                
            </section><!--//section-->
