<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="project-title"><a href="http://ieeexplore.ieee.org/abstract/document/8240393/">Susanto, Susanto, et al. "The deep learning development for real-time ball and goal detection of barelang-FC." Engineering Technology and Applications (IES-ETA), 2017 International Electronics Symposium on. IEEE, 2017.</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://jurnal.polibatam.ac.id/index.php/JI/article/view/16">Risandriya, Sumantri Kurniawan, Eko Rudiawan, and Wahyu Wibowo. "Plant Integrity Monitoring Menggunakan Ultrasonic Dengan Metode Fuzzy Decision Support Berbasis Wireless." Jurnal Integrasi 7.1 (2015): 1-11.</a></span>
                </div><!--//item-->
            </section><!--//section-->
