<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="project-title"><a href="http://jurnal.polibatam.ac.id/index.php/JI/article/view/16">Risandriya, Sumantri Kurniawan, Eko Rudiawan, and Wahyu Wibowo. "Plant Integrity Monitoring Menggunakan Ultrasonic Dengan Metode Fuzzy Decision Support Berbasis Wireless." Jurnal Integrasi 7.1 (2015): 1-11.</a></span>
                </div><!--//item-->
            </section><!--//section-->
