<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Volunteer Works</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Workshop Speaker</h3>
                            <div class="time">January, 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Fingerfast Laboratory Robotics Workshop</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Workshop Speaker</h3>
                            <div class="time">October, 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Polibatam Robotic Contest</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Workshop Speaker</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Universitas Bangka Belitung Robotics Workshop</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Robotics Competition Referee</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Polibatam Robotics Contest</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Guest Speaker</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Robotics Symposium during the Science and Maths Exhibition in Sekolah Global Indo-Asia</div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->
